*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
}
li{
    list-style: none;
}
.outer{
    border: 1px solid grey;
    box-sizing: border-box;
    width:100%;
}
#head{
    width: 1100px;
    margin:0 auto;
    overflow: hidden;
    padding: 10px 0;
    box-sizing: border-box;
}
.head_logo{
    float: left;
}
.head_logo img{
    width: 210px;
}
.head_center{
    float: left;
    overflow: hidden;
    margin-left:50px;
}
.head_center li{
    float: left;
    margin:25px 20px;
}
.head_center li a{
    color:black;
    text-align: center;
    font-size: 24px;
}
.h_right{
    float: right;
    position: relative;
}
.h_right img{
    width: 28px;
    position:absolute;
    top:25px;
    left:-31px;
}
.h_span{
    display: inline-block;
    margin:20px 15px;
    border:1px solid red;
    border-radius: 5px;
    padding:3px 5px;
}
.h_span a{
    color:red;
    font-size: 20px;
}

/* 主体 */
.login{
    width: 700px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    background-color: gainsboro;
}

.input_{
    outline: none
}
.lg-left{
    width: 400px;
    height: 260px;
    position: absolute;
    margin: 20px;
}
.lg-inp{
    margin-top: 20px;
    width: 350px;
    height: 40px;
    overflow: hidden;
    border: 1px solid gray;
}
.lg-inp>input{
    width: 300px;
    height: 40px;
    border: none;
    float: right;
}
.lg-inp>span{
    float: left;
    width: 50px;
    height: 40px;
}
.phone{
    background: url('../image/icon-global@2x.png') no-repeat -960px -3px;
}
.pass{
    background: url('../image/icon-global@2x.png') no-repeat -960px -70px;
}
.lg-right{
    width: 250px;
    height: 260px;
    position: absolute;
    right: 0;
    margin: 20px;
    overflow: hidden;
}
.lg-er{
    width: 170px;
    height: 170px;
    background: url('../img/code.png')no-repeat -5px;
    margin: 10px auto;
    
}
.closs{
    position: absolute;
    right: 10px;
}


/* 底部 */
#bottom{
    width: 100%;
    height: 320px;
    background-color: rgb(76, 69, 69);
    position: absolute;
}
#bt-main{
    width: 70%;
    height: 80%;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}
#ewm{
    width: 170px;
    height: 170px;
    position: absolute;
    border-radius: 5px;
}

#text{
    width: 80%;
    height: 100%;
    position: absolute;
    left: 200px;
    overflow: hidden;
}
#text>ul{
    float: left;
    list-style: none;
    margin-right:40px ;
    
}
ul>li{
    color: gray;
    font-size: 13px;
    text-align: left;
}

