*{
    margin: 0;
    padding: 0;
    user-select: none;
    list-style: none;
}
/* 主体 */
.login-box{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 999;
    display: none;
}
.login{
    width: 700px;
    height: 300px;
    margin: 100px auto;
    position: relative;
    background-color: gainsboro;
}
.lg-left{
    width: 400px;
    height: 260px;
    position: absolute;
    margin: 20px;
}
.lg-inp{
    margin-top: 20px;
    width: 350px;
    height: 40px;
    overflow: hidden;
    border: 1px solid gray;
    position: relative;
}
.input_{
    outline: none;
    width: 300px;
    height: 40px;
    border: none;
    float: right;
    position: absolute;
}
.phone{
    float: left;
    margin: 0;
    width: 50px;
    height: 40px;
    background: url('../image/icon-global@2x.png') no-repeat -960px -3px;
}
.pass{
    float: left;
    margin: 0;
    width: 50px;
    height: 40px;
    background: url('../image/icon-global@2x.png') no-repeat -960px -70px;
}
.lg-right{
    width: 250px;
    height: 260px;
    position: absolute;
    right: 0;
    margin: 20px;
    overflow: hidden;
}
.lg-er{
    width: 170px;
    height: 170px;
    background: url('../img/code.png')no-repeat -5px;
    margin: 10px auto;
    
}
.closs{
    position: absolute;
    right: 10px;
}
