*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
}
li{
    list-style: none;
}
.outer{
    border: 1px solid grey;
    box-sizing: border-box;
    width:100%;
}
#head{
    width: 1100px;
    margin:0 auto;
    overflow: hidden;
    padding: 10px 0;
    box-sizing: border-box;
}

.back{
    position: fixed;
    right: 150px;
    bottom: 30px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #7c7679;
    padding: 15px;
}
.head_logo{
    float: left;
}
.head_logo img{
    width: 210px;
}
.head_center{
    float: left;
    overflow: hidden;
    margin-left:50px;
}
.head_center li{
    float: left;
    margin:25px 20px;
}
.head_center li a{
    color:black;
    text-align: center;
    font-size: 24px;
}
.h_right{
    float: right;
    position: relative;
}
.h_right img{
    width: 28px;
    position:absolute;
    top:25px;
    left:-31px;
}
.h_span{
    display: inline-block;
    margin:20px 15px;
    border:1px solid red;
    border-radius: 5px;
    padding:3px 5px;
}
.h_span a{
    color:red;
    font-size: 20px;
}

.wrap {
    width: 1000px;
    min-width: 1000px;
    text-align: left;
    margin: 0 auto;}
    .ay-top h1 {
    text-align: center;
    padding: 34px 0 30px;
    font-size: 40px;
}
h1, h2, h3 {
    font-weight: normal;
}
.play-nav {
    text-align: center;
    line-height: 1.7;
    font-size: 0;
}
.play-nav a {
    display: inline-block;
    padding-bottom: 12px;
    width: 165px;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #333;
    outline: none;
}
a {
    margin: 0;
    padding: 0;
        padding-bottom: 0px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.play-nav a, .category li a, .use-nav a {
    color: #a3a3a3;
}
.play-nav a.on {
    color: #fe5431;
}
.play-nav a.on {
    border-bottom: 4px #fe5431 solid;
    padding-bottom: 8px;
}
.play-nav a, .category li a, .use-nav a {
    color: #a3a3a3;
}
.play-nav a {
    display: inline-block;
    padding-bottom: 12px;
    width: 165px;
    font-size: 18px;
}
/* -------------------------------------------- */
.report-box {
    background: #f7f7f7;
}
.pad25 {
    padding-top: 25px;
}
.wrap {
    width: 1000px;
    min-width: 1000px;
    text-align: left;
    margin: 0 auto;
}
.listInfo {
    width: 700px;
}
.left {
    float: left;
}
nav ul, ul {
    list-style: none;
}
.listInfo li {
    border-radius: 6px;
    border: 1px solid #e6e9e9;
    margin-bottom: 13px;
    position: relative;
    overflow: hidden;
}
.listInfo li a {
    display: block;
}
.listInfo li img {
    border-radius: 6px;
}
img {
    vertical-align: top;
}
.listInfo li .info {
    background: rgba(255,255,255,.9);
}
.listInfo li .info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 22px;
}
.listInfo li .title {
    color: #474747;
}
.listInfo li .title {
    font-size: 18px;
    padding: 9px 0 12px;
    font-weight: normal;
}
.title {
    color: #474747;
    line-height: 1.6;
}
.listInfo li .btm {
    font-size: 13px;
    padding: 16px 0 11px;
}
.left {
    float: left;
}
.listInfo .btm .icon {
    color: #a3a3a3;
}
.right {
    float: right;
}
.icon .zan {
    background: url(img/zan.png) no-repeat left 4px;
}
.icon span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 14px;
    margin-left: 3px;
}
.icon .look {
    background: url(img/reply.png) no-repeat left center;
}

.fix::after {

clear: both;
content: "";
display: block;
height: 0;
visibility: hidden;

}
/* --------------------you----------- */
.listR {
    width: 270px;
}
.right {
    float: right;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.listR .guanzhu {
    padding-top: 40px;
}
.listR .title {
    position: relative;
    font-size: 18px;
    height: 25px;
    line-height: 25px;
    padding-left: 30px;
}
.title {
    color: #474747;
    line-height: 1.6;
}
h1, h2, h3 {
    font-weight: normal;
}
.listR .title::after {
    background: #fe5341;
}
.listR .title::after {
    position: absolute;
    content: "";
    display: block;
    width: 6px;
    height: 25px;
    left: 0;
    top: 0;
}
.listR .imgBox {
    margin-top: 20px;
}
figure {
    padding: 0;
    margin: 0;
        margin-top: 0px;
}
img {
    vertical-align: top;
}
.listR .imgBox {
    margin-top: 20px;
}
figure {
    padding: 0;
    margin: 0;
        margin-top: 0px;
}
.unnm{
    width: 700px;
    height: 50px;
    border: 1px solid rgb(175, 172, 172);
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    color: rgb(175, 172, 172);
}
.kuang img{
    margin: 10px 0;
}
.kuang h5,span{
  margin: 20px 1px;
  color: rgb(175, 172, 172);
}
.fang  span{
    float:right;
    color: rgb(175, 172, 172);
    width: 80px;
    margin: -10px 10px;
    text-align: center;
}
.a{
    background: url('../image/xin.png') no-repeat 0px 5px;
}
.b{
    background: url('../image/zan.png') no-repeat 0px 5px;
}
.playMore{
    width: 250px;
    height: 50px;
    /* border: 1px solid #000; */
    text-align: center;
    line-height: 50px;
    margin-left: 235px;
    position: relative;
}
.playMore img{
    position: absolute;
    top: 23px;
    left: 50px;
}
.playMore a{
    color: red;
}



#bottom{
    width: 100%;
    height: 320px;
    background-color: rgb(76, 69, 69);
    position: absolute;
}
#bt-main{
    width: 70%;
    height: 80%;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}
#ewm{
    width: 170px;
    height: 170px;
    position: absolute;
    border-radius: 5px;
}

#text{
    width: 80%;
    height: 100%;
    position: absolute;
    left: 200px;
    overflow: hidden;
}
#text>ul{
    float: left;
    list-style: none;
    margin-right:40px ;
    
}
ul>li{
    color: gray;
    font-size: 13px;
    text-align: left;
}

