*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;

}
li{
    list-style: none;
}
/* 头部 */
.outer{
    border: 2px solid rgb(180, 173, 173);
    width:100%;
    box-sizing: border-box;
}
#head{
    width: 1100px;
    margin:0 auto;
    overflow: hidden;
    padding: 10px 0;
    box-sizing: border-box;
}
.head_logo{
    float: left;
}
.head_logo img{
    width: 210px;
}
.head_center{
    float: left;
    overflow: hidden;
    margin-left:50px;
}
.head_center li{
    float: left;
    margin:25px 20px;
}
.head_center li a{
    color:black;
    text-align: center;
    font-size: 24px;
}
.h_right{
    float: right;
    position: relative;
}
.h_right img{
    width: 28px;
    position:absolute;
    top:25px;
    left:-31px;
}
.h_span{
    display: inline-block;
    margin:20px 15px;
    border:1px solid red;
    border-radius: 5px;
    padding:3px 5px;
}
.h_span a{
    color:red;
    font-size: 20px;
}



/* 底部 */
#bottom{
    width: 100%;
    height: 320px;
    background-color: rgb(76, 69, 69);
    position: absolute;
}
#bt-main{
    width: 75%;
    height: 80%;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}
#ewm{
    width: 170px;
    height: 170px;
    position: absolute;
    border-radius: 5px;
}

#text{
    width: 80%;
    height: 100%;
    position: absolute;
    left: 200px;
    overflow: hidden;
}
#text>ul{
    float: left;
    list-style: none;
    margin-right:40px ;
    
}
ul>li{
    color: gray;
    font-size: 13px;
    text-align: left;
}

/* 发现酷玩 */

.cooltil{
    width:max-content ; 
    margin:0 auto;   
}
.coolbig{
    font-size: 40px;
    font-weight: bold;
    padding: 34px 0 30px;
    text-align: center;
}
.coolli{
    overflow: hidden;
    width: max-content;

}
.coolsm{
    float: left;
    padding: 5px 50px;
    font-size:18px;

}
#chred{
    color: #f15431;
    border-bottom: 4px solid #f15431;
    padding-bottom: 8px;
}



.cooln{
    width: 100%;
    background-color: aliceblue;
}
#full0,#full1{
    width: 1100px;
    margin: 0 auto;
}
.image0{
    width: 228px;
}
.full0ul{
    overflow: hidden;
}
.list0{
    float: left;
    width: 228px;
    height: 230px;
    margin-right: 40px;
    margin-bottom: 10px;
    border: 1px solid rgb(219, 210, 210);
}
.tittle0{
    text-align: center;
    padding: 5px 10px;
    margin-bottom: 5px;
    color:rgb(27, 27, 27);
    font-size: 14px;
}
.susu0{
    padding: 5px 10px;
    color:rgb(27, 27, 27);
    font-size: 14px;
    margin-bottom: 5px;
}
.num10{
    display: inline-block;
    padding: 5px 0 0 20px;
    background: url(../image/reply.png) 3px 8px no-repeat;
    margin-left: 90px;
    font-size: 14px;
    color: rgb(24, 23, 23);
}
.num20{
    display: inline-block;
    padding: 5px 0 0 20px;
    background: url(../image/zan.png) 3px 8px no-repeat;
    font-size: 14px;
    margin-left: 20px;
    color: rgbrgb(24, 23, 23);
}


.report-box {
    background: #f7f7f7;
    overflow: hidden;
    display: none;
}
section {
    display: block;
}
.category {
    padding-bottom: 5px;
}
.wrap {
    width: 1100px;
    text-align: left;
    margin: 0 auto;
}
.category li dt::before {
    background: #fe5341;
}

/* 在dt之前插入红色的长方形 */
.category li dt::before {   
    content: '';
    position: absolute;
    left: 0;
    top: 19px;
    display: block;
    width: 6px;
    height: 25px;
}
.pad25{
    padding-top:25px;
}
.category{
    padding-bottom:5px;
}
.category li{
    background: #fff;
    margin-bottom:35px;
    border:1px solid #ebecec;
    border-radius:6px;
}
.category li dt{
    position:relative;
    padding:19px 0 19px 30px;
    font-size:16px;
    line-height:25px;
}
.category li dt::before{
    content:'';
    position:absolute;
    left:0;top:19px;
    display:block;
    width:6px;
    height:25px;
}
.category li dd{
    padding:0 13px 18px;
}
.category li dd:after{
    clear:both;
    content:"";
    display:block;
    height:0;
    visibility:hidden;
}
.category li dd:nth-child(3){
    border-top:1px dashed #e0e0e0;
    padding-bottom:35px;
}
.category dd .list{
    float:left;
    width:150px;
    text-align:center;
    font-size:14px;
    margin-top:17px;
}
.category li dd:last-child .list{
    margin-top:0;
}
.category dd .list .info{
    padding-top:12px;
}
.report-box .use dt{
    margin-bottom:35px;
    background:#fff;
}
.list img{
    width: 130px;
}

/* 加载更多 */
.circle{
    width: max-content;
    margin: 10px auto;
    padding: 10px 30px;
    position: relative;
}
.circle img{
    position: absolute;
    top: 12px;
    left: 5px;
}
.circle a{
    color: #FE5341;
}
#full1{
    display: none;
}