*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
}
li{
    list-style: none;
}
.outer{
    border: 1px solid grey;
    box-sizing: border-box;
    width:100%;
}
#head{
    width: 1100px;
    margin:0 auto;
    overflow: hidden;
    padding: 10px 0;
    box-sizing: border-box;
}
.head_logo{
    float: left;
}
.head_logo img{
    width: 210px;
}
.head_center{
    float: left;
    overflow: hidden;
    margin-left:50px;
}
.head_center li{
    float: left;
    margin:25px 20px;
}
.head_center li a{
    color:black;
    text-align: center;
    font-size: 24px;
}
.h_right{
    float: right;
    position: relative;
}
.h_right img{
    width: 28px;
    position:absolute;
    top:25px;
    left:-31px;
}
.h_span{
    display: inline-block;
    margin:20px 15px;
    border:1px solid red;
    border-radius: 5px;
    padding:3px 5px;
}
.h_span a{
    color:red;
    font-size: 20px;
}

.reg{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    background-color: gainsboro;
    padding: 50px 0px;
}
.reg-main{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    position: relative;
}
.reg-top{
    width: 10%;
    height: 30px;
    border-left: 5px solid red;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 20px;
}
.reg-text{
    width: 300px;
    height: 500px;
    position: absolute;
    top: 100px;
    left: calc(50% - 150px);
    overflow: hidden;
}
.reg-text>input{
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    margin-top: 20px;
}
.reg-img{
    float: right;
    width: 150px;
    height: 40px;
    background: url('../img/imgCode.jpg')no-repeat 20px 0px;
    margin-top: 20px;
}
.reg-get{
    float: right;
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 25px;
    background-color: white;
    border-radius: 5px;
}
.reg-btn{
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;
}




/* 底部 */
#bottom{
    width: 100%;
    height: 320px;
    background-color: rgb(76, 69, 69);
    position: absolute;
}
#bt-main{
    width: 70%;
    height: 80%;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}
#ewm{
    width: 170px;
    height: 170px;
    position: absolute;
    border-radius: 5px;
}

#text{
    width: 80%;
    height: 100%;
    position: absolute;
    left: 200px;
    overflow: hidden;
}
#text>ul{
    float: left;
    list-style: none;
    margin-right:40px ;
    
}
ul>li{
    color: gray;
    font-size: 13px;
    text-align: left;
}

