.arthelp{
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}
.ah_left{
    float: left;
    width: 250px;
    background-color: aliceblue;
    padding: 30px 10px;

}
.ah_right{
    float: right;
    width: 800px;
    background-color: aliceblue;
    padding: 30px 10px;

}

.back{
    position: fixed;
    right: 150px;
    bottom: 30px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #7c7679;
    padding: 15px;
}
h3{
    padding: 10px;
    border-bottom: 1px solid grey;
}
.ah_left .htitle{
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bold;
}
.arthelp a{
    color: black;
}
.ah_left p,.ah_right p{
    padding: 5px 20px;
}

.ah_right .htitle{
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bold;
    border-bottom: 1px solid gray;
}
h5{
    padding: 5px 10px;
}
