*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
}
li{
    list-style: none;
}
.outer{
    border: 1px solid grey;
    box-sizing: border-box;
    width:100%;
}
#head{
    width: 1100px;
    margin:0 auto;
    overflow: hidden;
    padding: 10px 0;
    box-sizing: border-box;
   
}

.back{
    position: fixed;
    right: 150px;
    bottom: 30px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #7c7679;
    padding: 15px;
}
.head_logo{
    float: left;
}
.head_logo img{
    width: 210px;
}
.head_center{
    float: left;
    overflow: hidden;
    margin-left:50px;
}
.head_center li{
    float: left;
    margin:25px 20px;
}
.head_center li a{
    color:black;
    text-align: center;
    font-size: 24px;
}
.h_right{
    float: right;
    position: relative;
}
.h_right img{
    width: 28px;
    position:absolute;
    top:25px;
    left:-31px;
}
.h_span{
    display: inline-block;
    margin:20px 15px;
    border:1px solid red;
    border-radius: 5px;
    padding:3px 5px;
}
.h_span a{
    color:red;
    font-size: 20px;
}

#main-head{
    width: 100%;
    height: 150px;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
}
#main-both{
    width: 20%;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
}
#main-both>div{
    float: left;
    width: 50%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: gray;
    box-sizing: border-box;
}
#main-both>div:hover{
    cursor: pointer;
}
#main-both>#red{
    color: red;
    border-bottom: 3px solid red;
}
#main-ful{
    width: 30%;
    margin: 0 auto;
}

#main-ful>div{
    color: gray;
    display: inline-block;
    width: 24%;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
#main-ful>#add{
    color: black;
    font-weight: bold;
}
#main-ful>div:hover{
    cursor: pointer;
}
#report-box{
    width: 100%;
    height: 1650px;
}
#line{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: red;
}
#line-p{
    display: inline-block;
}
#line>p:hover{
    cursor: pointer;
}
#line_{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../image/more.png')no-repeat 0px 12px;
}
#linel{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../image/loading-icon.gif')no-repeat 0px 2px;
}

.report-box{
    width: 100%;
    height: 100%;
    background-color: rgb(216, 216, 216);
}
.wrap{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.wrapBlo{
    width: 222px;
    height: 350px;
    background-color: white;
    position: relative;
    border: 1px solid grey;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 30px 20px;
    float: left;
}
.top-tip-sf{
    background-color: red;
    position: absolute;
    right: 0;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: white;
}
.name{
    color: black;
    font-size: 20px;
    text-align: center;
    height: 100px;
}
.tabs-graw{
    color: grey;
    margin-left: calc(50% - 50px);
}
.tabs-graw>span{
    
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
}
.sq{
    color: black;
    margin-left: calc(50% - 40px);
}
.sq>span{
    color: red;
}
.current-graw{
    margin-left: calc(50% - 35px);
    color:gray;
    font-size: 12px;
}
p{
    margin-top: 10px;
}


#bottom{
    width: 100%;
    height: 320px;
    background-color: rgb(76, 69, 69);
    position: absolute;
}
#bt-main{
    width: 75%;
    height: 80%;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}
#ewm{
    width: 170px;
    height: 170px;
    position: absolute;
    border-radius: 5px;
}

#text{
    width: 80%;
    height: 100%;
    position: absolute;
    left: 200px;
    overflow: hidden;
}
#text>ul{
    float: left;
    list-style: none;
    margin-right:40px ;
    
}
ul>li{
    color: gray;
    font-size: 13px;
    text-align: left;
}

