*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
}
li{
    list-style: none;
}
.outer{
    border: 1px solid grey;
    box-sizing: border-box;
    width:100%;
}
#head{
    width: 1100px;
    margin:0 auto;
    overflow: hidden;
    padding: 10px 0;
    box-sizing: border-box;
}
.head_logo{
    float: left;
}
.head_logo img{
    width: 210px;
}
.head_center{
    float: left;
    overflow: hidden;
    margin-left:50px;
}
.head_center li{
    float: left;
    margin:25px 20px;
}
.head_center li a{
    color:black;
    text-align: center;
    font-size: 24px;
}
.h_right{
    float: right;
    position: relative;
}
.h_right img{
    width: 28px;
    position:absolute;
    top:25px;
    left:-31px;
}
.h_span{
    display: inline-block;
    margin:20px 15px;
    border:1px solid red;
    border-radius: 5px;
    padding:3px 5px;
}
.h_span a{
    color:red;
    font-size: 20px;
}
/* 首发试用 */
#publish{
    width: 100%;
    background: url(../image/original.jpg) -280px 0 no-repeat;
    height: 300px;
    position:relative;
    
}
.move{
    position:absolute;
    top: 20px;
    right: 235px;
    overflow: hidden;
    text-align: right;
    animation: move1 2s;
}
@keyframes move1{
    0%{
        top: -300px;
        right: 50px;
        opacity: 0;
    }
    100%{
        top: 20px;
        right: 235px;
        opacity: 1;
    }
}
.move .p1{
    font-size: 30px;
    color: white;
    margin-top: 20px;
}
.move .p2{
    margin: 5px;
    margin-top: 20px;
}
.move .p2 .pb_small{
    color:white;
    font-size:14px;
    padding:5px;
    background-color: #F9CF9A;
}
.move .p3{
    color:white;
    font-size:14px;
    margin-top: 20px;
}
.move .p4{
    margin-top: 20px;

}
.move .qui{
    display: inline-block;
    color:white;
    font-size:20px;
    background-color:#FE5341;
    padding: 4px 30px;
}

/* 试用流程 */
.tryq{
    width: 100%;
    height: 2300px;
}
.try-flow{
    width: 100%;
    height: 80px;
    background-color:rgb(233, 233, 233);
    padding-top: 15px;
}
.flow-main{
    width: 70%;
    height: 80%;
    border-left: 5px solid red;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}
.fm-flow{
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    float: left;
}
.fm-rt{
    width: 90%;
    height: 100%;
    float: right;
}
.fm-ul>li{
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    margin:0 50px;
    font-size: 12px;
}
.fm-ul>li:nth-child(1)>p{
    border-bottom: 3px solid #FE5341;
}

.try-main{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    overflow: hidden;
}
.tm-lf{
    width: 65%;
    height: 100%;
    float: left;
}
.introduce{
    width: 12%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-left: 5px solid red;
    box-sizing: border-box;
    font-weight: 500;
}
.intimg1{
    margin-top: 30px;
    width: 100%;
    height: 400px;
    background: url('../img/use1.jpg')no-repeat;
}
.intimg2{
    margin-top: 30px;
    width: 100%;
    height: 400px;
    background: url('../img/use.jpg')no-repeat;
}
.activity{
    margin-top: 50px;
    width: 12%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-left: 5px solid red;
    box-sizing: border-box;
    font-weight: 500;
}


.tm-rt{
    width: 28%;
    height: 500px;
    float: right;
}
.buyroud{
    width: 50%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-left: 5px solid red;
    box-sizing: border-box;
    font-weight: 500;
}
.price{
    width: 50%;
    height: 100px;
    font-size: 50px;
    color: red;
    line-height: 100px;
}
.buy{
    width: 100%;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.from{
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: gray;
}
.exp{
    margin-top: 30px;
    width: 50%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-left: 5px solid red;
    box-sizing: border-box;
    font-weight: 500;
}
.exp-main{
    width: 100%;
}
.exp-img{
    margin-top: 20px;
    width: 100%;
    height: 250px;
    background: url('../img/tiyanImg.jpg')no-repeat;
    background-size: 100% 100%;
}
.exp-text{
    margin-top: 10px;
    width: 100%;
    color: rgb(98, 98, 98);
    font-size: 13px;
}
.att{
    margin-top: 30px;
    width: 50%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-left: 5px solid red;
    box-sizing: border-box;
    font-weight: 500;
}
.att-er{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    background: url('../img/myCode.jpg')no-repeat;
    background-size: 100%;
}


.hot_{
    width: 100%;
    height: 400px;
}
.hot_try{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.hot_blo{
    width: 100%;
    height: 350px;
}

.wrapBlo{
    width: 222px;
    height: 330px;
    background-color: white;
    position: relative;
    border: 1px solid grey;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 30px 20px;
    float: left;
}
.top-tip-sf{
    background-color: red;
    position: absolute;
    right: 0;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: white;
}
.name{
    color: black;
    font-size: 20px;
    text-align: center;
}
.tabs-graw{
    color: grey;
    margin-left: calc(50% - 50px);
}
.tabs-graw>span{
    
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
}
.sq{
    color: black;
    margin-left: calc(50% - 40px);
}
.sq>span{
    color: red;
}
.current-graw{
    margin-left: calc(50% - 35px);
    color:gray;
    font-size: 12px;
}
.hot-con>p{
    
    margin-top: 10px;
    
}


#bottom{
    width: 100%;
    height: 320px;
    background-color: rgb(76, 69, 69);
    position: absolute;
}
#bt-main{
    width: 70%;
    height: 80%;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}
#ewm{
    width: 170px;
    height: 170px;
    position: absolute;
    border-radius: 5px;
}

#text{
    width: 80%;
    height: 100%;
    position: absolute;
    left: 200px;
    overflow: hidden;
}
#text>ul{
    float: left;
    list-style: none;
    margin-right:40px ;
    
}
ul>li{
    color: gray;
    font-size: 13px;
    text-align: left;
}

